$background-color : #3D393B;
$primary-color: #FBFAF7;
$nav-color : #999999;
$span : #D3B25B;
$mainFont: Noto Sans KR;
$subFont: Inter;
/* $sub-title :  14px;
$title :  23px;
$heading : 40px;


$subFont: Inter; */