@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* $sub-title :  14px;
$title :  23px;
$heading : 40px;


$subFont: Inter; */
body {
  width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

.slider {
  width: 1200px;
  height: 500px;
  background-color: yellow;
  overflow: hidden;
  position: relative;
}

.slider .centerfield img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 1;
}

.slider .centerfield p {
  height: 25px;
  width: 225px;
  font-size: 12px;
  position: absolute;
  top: 90%;
  left: 16%;
  z-index: 1;
  color: #FBFAF7;
}

.slider .centerfield-name img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 75%;
  right: 20%;
  z-index: 1;
}

.image-container {
  width: 3600px;
  background-color: pink;
  height: 500px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  transition: left 2s;
}

.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}

#slide-1:target ~ .image-container {
  left: 0px;
}

#slide-2:target ~ .image-container {
  left: -1200px;
}

#slide-3:target ~ .image-container {
  left: -2400px;
}

.buttons {
  height: 10px;
  width: 10px;
  position: relative;
  top: -280px;
  right: -1140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.buttons a {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50px;
  margin-bottom: 60px;
  background-color: #E4E4E1;
}

.centerfield {
  width: 400px;
  height: 300px;
  position: absolute;
  margin: 0 400px 0 400px;
}

.services {
  width: 1200px;
  height: 780px;
  background: #3D393B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.service-img-l {
  width: 50%;
  height: 520px;
  padding: 160px 0  60px 0;
  position: absolute;
}

.service-img-l img {
  width: 100%;
  height: 520px;
}

.service-content {
  width: 50%;
  height: 454.14px;
  margin-left: 380px;
  padding-top: 160px;
  z-index: 1;
}

.subservice-content {
  width: 100%;
  height: 54px;
  padding-left: 200px;
}

.subservice-content .best {
  color: #FBFAF7;
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 24px;
  padding-left: 100px;
}

.subservice-content p {
  font-family: Noto Sans KR;
  font-weight: 400;
  font-size: 14px;
  color: #FBFAF7;
  padding: 0 80px 0 100px;
}

.subservice-content span {
  color: #D3B25B;
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 24px;
}

.subservice-content .subtitle {
  color: #FBFAF7;
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 24px;
}

.service-img-s {
  width: 100%;
  height: 454.14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 180px 0  100px 180px;
  position: relative;
}

.service-img-s .img-s1 {
  width: 180px;
  height: 160px;
  padding-top: 40px;
}

.service-img-s .img-s1 img {
  z-index: -1;
  position: absolute;
}

.service-img-s .img-s3 {
  width: 180px;
  height: 160px;
  padding-top: 40px;
}

.service-img-s .img-s3 img {
  z-index: -1;
  position: absolute;
}

.service-img-s .img-s2 {
  width: 180px;
  height: 160px;
  margin: 0 30px 0 30px;
}

.service-img-s .img-s2 img {
  z-index: -1;
  position: absolute;
}

.service-img-s p {
  color: #BEBFBB;
  font-family: Inter;
  font-size: 20px;
  padding-left: 20px;
  margin-top: 100px;
  margin-bottom: 0px;
}

.service-img-s a {
  color: #BEBFBB;
  font-family: Inter;
  font-size: 10px;
  padding-left: 20px;
  text-decoration: none;
}

.inquiry {
  width: 1200px;
  height: 600px;
  position: relative;
}

.inquiry-content {
  width: 800px;
  height: 156.78px;
  position: absolute;
  top: 8px;
  display: block;
  margin: 0 200px 0 200px;
  text-align: center;
}

.inquiry-content .title {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}

.inquiry-content p {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #3D393B;
}

.inquiry-box {
  width: 800px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 280px;
  margin: 0 160px 0 200px;
}

.inquiry-box .subtitle {
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 20px;
  color: #FBFAF7;
  margin: 6px 0 6px 0;
}

.inquiry-box p {
  font-family: Noto Sans KR;
  font-weight: 400;
  font-size: 12px;
  color: #999999;
  padding: 0 38px 0 38px;
  margin: 6px 0 6px 0;
}

.box1 {
  width: 270px;
  height: 240px;
  opacity: 0.9;
  text-align: center;
  color: #FBFAF7;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 20px 0 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), #8BA340;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #8BA340;
  opacity: 0.9;
}

.box2 {
  width: 270px;
  height: 240px;
  opacity: 0.9;
  text-align: center;
  color: #FBFAF7;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), #5B4F3F;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #5B4F3F;
  opacity: 0.9;
  margin: 0 20px 20px 20px;
}

.box3 {
  width: 270px;
  height: 240px;
  opacity: 0.9;
  text-align: center;
  color: #FBFAF7;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 20px 0 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), #D3B25B;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #D3B25B;
  opacity: 0.9;
}

.location {
  width: 1200px;
  height: 450px;
  background: #323841;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location .map {
  width: 40%;
  height: 400px;
  margin-left: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.location .address {
  width: 60%;
  height: 450px;
}

.address span {
  color: #D3B25B;
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 40px;
}

.address p {
  color: #FBFAF7;
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 40px;
  padding-left: 40px;
}

.address ul p {
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 20px;
  color: #FBFAF7;
  padding: 0;
}

.address ul li {
  list-style-type: none;
}

.address li p {
  font-family: Noto Sans KR;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
  padding-bottom: 20px;
}

.header {
  width: 1200px;
  height: 60px;
  background: #3D393B;
  color: #FBFAF7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 2;
  opacity: 0.85;
}

.header img {
  margin: 20px 0 0 20px;
  padding-left: 200px;
}

.header-nav {
  padding-top: 20px;
  padding-left: 460px;
  width: 160px;
  height: 60px;
}

.header-nav a {
  width: 800px;
  height: 60px;
  padding-right: 20px;
  color: #999999;
}

.footer {
  width: 1200px;
  height: 206.78px;
  background: #3D393B;
  color: #FBFAF7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .footer-content {
  width: 442px;
  height: 100px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
  padding-left: 160px;
}

.footer-nav {
  padding-top: 20px;
  padding-left: 160px;
  width: 1200px;
  height: 60px;
  border-bottom: 1px solid #525252;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.footer-nav a {
  padding-right: 15px;
  padding-left: 15px;
  color: #999999;
  text-decoration: none;
}

.footer-nav span {
  padding-left: 300px;
  color: #999999;
}

.Panel {
  width: 100%;
  max-width: 880px;
  margin: 30px auto;
  position: absolute;
  z-index: 2;
  top: 400px;
  left: 170px;
  font-size: 16px;
}

.Panel__body {
  background-color: #FBFAF7;
  padding: 5px 64px;
  color: #7F983E;
}

.Panel__body p {
  font-family: Inter;
}

.Tabs {
  position: relative;
  background-color: #FBFAF7;
  margin: 0;
  padding: 0;
  list-style: none;
}

.Tabs:after {
  content: ' ';
  display: table;
  clear: both;
}

.Tabs__tab {
  float: left;
  width: 25%;
  text-align: center;
}

.Tabs__tab:first-child.active ~ .Tabs__presentation-slider {
  -webkit-transform: translateX(0) scaleX(0.333);
          transform: translateX(0) scaleX(0.333);
}

.Tabs__tab:nth-child(2).active ~ .Tabs__presentation-slider {
  -webkit-transform: translateX(33.333%) scaleX(0.333);
          transform: translateX(33.333%) scaleX(0.333);
}

.Tabs__tab:nth-child(3).active ~ .Tabs__presentation-slider {
  -webkit-transform: translateX(calc(33.333% * 2)) scaleX(0.333);
          transform: translateX(calc(33.333% * 2)) scaleX(0.333);
}

.Tabs__presentation-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55%;
  height: 2px;
  background-color: #7F983E;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  margin-left: 60px;
}

.Tab {
  font-family: Noto Sans KR;
}

.Tab > a {
  display: block;
  padding: 15px 12px;
  text-decoration: none;
  color: #999999;
  -webkit-transition: color .15s;
  transition: color .15s;
}

.Tab.active > a {
  color: #7F983E;
}

.Tab:hover > a {
  color: #222;
}

.Tab > a {
  padding: 15px 32px;
}
/*# sourceMappingURL=style.css.map */