@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}



.header {
  width: 100%;
  height: 60px;
  background: #3D393B;
  color: #FBFAF7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 2;
  opacity: 0.85;
}

.header img {
  margin: 20px 0 0 20px;
  padding-left: 200px;
}

.header-nav {
  padding-top: 20px;
  padding-left: 460px;
  width: 160px;
  height: 60px;
}

.header-nav a {
  width: 800px;
  height: 60px;
  padding-right: 20px;
  color: #999999;
}

/* *****************Slider section************* */

/* #slider{
	overflow: hidden;
}

#slider figure{
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;

}
#slider figure img{
  width: 25%;
  float: left;
}

@keyframes slider{
  0%{
    left: 0%;
  }
  25%{
    left: 0%;
  }
  30%{
    left: -100%;
  }
  55%{
    left: -100%;
  }
  60%{
    left: -200%;
  }
  85%{
    left: 0%;
  }
  90%{
    left: 0%;
  }
} */
 .slider .centerfield img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 30%;
  right: 50%;
  z-index: 1;
}

.slider .centerfield p {
  height: 25px;
  width: 225px;
  font-size: 12px;
  position: absolute;
  top: 54%;
  left: 40%;
  z-index: 1;
  color: #FBFAF7;
}

.slider .centerfield-name img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 44%;
  left: 38%;
  z-index: 1;
}
.slider {
  width: 1200px;
  height: 600px;
  background-color: yellow;
  overflow: hidden;
  position: relative;
}
.image-container {
  width: 3600px;
  background-color: pink;
  height: 600px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  transition: left 2s;
  
}

.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}

#slide-1:target ~ .image-container {
  left: 0px;
}

#slide-2:target ~ .image-container {
  left: -1200px;
}

#slide-3:target ~ .image-container {
  left: -2400px;
} 

.buttons {
  height: 10px;
  width: 10px;
  position: relative;
  top: -380px;
  right: -1140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.buttons a {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50px;
  margin-bottom: 60px;
  background-color: #E4E4E1;
}

/* *****************Panel section************* */
.Panel {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 540px;
  font-size: 16px;
}
.Panel nav{
  width: 80%;
  margin: 0 40px 0 140px;
}

.Panel__body {
  background-color: #FBFAF7;
  width: 80%;
  margin: 0 120px 0 140px;
  color: #7F983E;
}

.Panel__body p {
  font-family: Inter;
  margin-left: 60px;
  padding: 15px 0 15px 0;
}

.Tabs {
  position: relative;
  background-color: #FBFAF7;
  margin: 0;
  padding: 0;
  list-style: none;
}

.Tabs:after {
  content: ' ';
  display: table;
  clear: both;
}

.Tabs__tab {
  float: left;
  width: 25%;
  text-align: center;
}
/* .Tabs__presentation-slider{
  margin-left:40px;
} */
.Tabs__tab:first-child.active ~ .Tabs__presentation-slider {
  -webkit-transform: translateX(0) scaleX(0.333);
          transform: translateX(0) scaleX(0.333);
}

.Tabs__tab:nth-child(2).active ~ .Tabs__presentation-slider {
  -webkit-transform: translateX(33.333%) scaleX(0.333);
          transform: translateX(33.333%) scaleX(0.333);
}

.Tabs__tab:nth-child(3).active ~ .Tabs__presentation-slider {
  -webkit-transform: translateX(calc(33.333% * 2)) scaleX(0.333);
          transform: translateX(calc(33.333% * 2)) scaleX(0.333);
}

.Tabs__presentation-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55%;
  height: 2px;
  background-color: #7F983E;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  margin-left: 60px;
}

.Tab {
  font-family: Noto Sans KR;
}

.Tab > a {
  display: block;
  padding: 15px 12px;
  text-decoration: none;
  color: #999999;
  -webkit-transition: color .15s;
  transition: color .15s;
}

.Tab.active > a {
  color: #7F983E;
}

.Tab:hover > a {
  color: #222;
}

.Tab > a {
  padding: 15px 38px;
}

/* *****************services section************* */
.services {
  width: 100%;
  height: 800px;
  background: #3D393B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.service-img-l {
  width: 50%;
  height: 520px;
  padding: 140px 0  100px 0;
}

.service-img-l img {
  width: 100%;
  height: 520px;
}

.service-content {
  width: 50%;
  height: 800px;
  padding: 140px 0  100px 0;
}

.subservice-content {
  width: 100%;
  height: 60px;
  /* padding-top: 20px; */
}

.subservice-content .best {
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 28px;
  color: #FBFAF7;
  padding: 0px 40px 0px 60px;
}

.subservice-content p {
  font-family: Noto Sans KR;
  font-weight: 400;
  font-size: 18px;
  color: #FBFAF7;
  padding: 20px 40px 0px 60px;
}

.subservice-content span {
  color: #D3B25B;
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 28px;
}

.subservice-content .subtitle {
  color: #FBFAF7;
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 24px;
}

.service-img-s {
  width: 680px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  top: 240px;
  left: -30px;
  
 /*  box-sizing: border-box; */
}

.service-img-s .img-s1 {
  width:25%;
  height: 160px;
  position: absolute;
}

.service-img-s .img-s3 {
  width: 25%;
  height: 160px;
  position: absolute;
  left: 460px;
  padding: 0 40px 0 20px;
}

.service-img-s .img-s2 {
  width: 25%;
  height: 160px;
  position: absolute;
  top: -30px;
  left: 240px;
}

.service-img-s p {
  color: #BEBFBB;
  font-family: Inter;
  font-size: 18px;
  padding-left: 20px;
  position: absolute;
  top: 110px;
}

.service-img-s a {
  color: #BEBFBB;
  font-family: Inter;
  font-size: 10px;
  position: absolute;
  padding-left: 20px;
  text-decoration: none;
  top: 140px;
}
 
/* *****************inquiry section************* */
.inquiry {
  width: 100%;
  height: 600px;
  position: relative;
}
.inquiry img{
  width: 100%;
  height: 600px;
 }

.inquiry-content {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 78px; 
  text-align: center;
  padding: 0 200px 0 200px;
  box-sizing: border-box;
}

.inquiry-content .title {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #000000;
  
}

.inquiry-content p {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #3D393B;
}

.inquiry-box {
  width: 100%;
  height: 280px;
  position: absolute;
  top: 280px;
  text-align: center;
  padding: 0 260px 0 260px;
  box-sizing: border-box;
  display: flex;
 justify-content: center;
}

.inquiry-box .subtitle {
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 20px;
  color: #FBFAF7;
  margin: 6px 0 6px 0;
}

.inquiry-box p {
  font-family: Noto Sans KR;
  font-weight: 400;
  font-size: 12px;
  color: #999999;
  padding: 0 38px 0 38px;
  margin: 6px 0 6px 0;
}

.box1 {
  width: 30%;
  height: 240px;
  opacity: 0.9;
  text-align: center;
  color: #FBFAF7;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
/*   margin: 20px 20px 0 0; */
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), #8BA340;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #8BA340;
  opacity: 0.9;
}

.box2 {
  width: 30%;
  height: 240px;
  opacity: 0.9;
  text-align: center;
  color: #FBFAF7;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), #5B4F3F;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #5B4F3F;
  opacity: 0.9;
  margin: 0 40px 0 40px;
}

.box3 {
  width: 30%;
  height: 240px;
  opacity: 0.9;
  text-align: center;
  color: #FBFAF7;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
 /*  margin: 20px 20px 0 20px; */
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), #D3B25B;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #D3B25B;
  opacity: 0.9;
}
.box1 img{
  width: 70px;
  height: 70px;
}
.box2  img{
  width: 70px;
  height: 70px;
}
.box3 img{
  width: 70px;
  height: 70px;
}



/* ************************Location section**************************** */
.location {
  width: 100%;
  height: 450px;
  background: #323841;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location .map {
  width: 50%;
  height: 450px;
  padding-left: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.location .address {
  width: 50%;
  height: 450px;
}
.address .sub_address{
  padding-top: 80px;
}
.sub_address ul{
  padding-top: 30px;
}
.address span {
  color: #D3B25B;
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 40px;
  margin-top: 30px;
}

.address p {
  color: #FBFAF7;
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 40px;
  padding-left: 40px;
}

.address ul p {
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 20px;
  color: #FBFAF7;
  padding-left: 40px;
}

.address ul li {
  list-style-type: none;
}

.address li p {
  font-family: Noto Sans KR;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
  padding-bottom: 20px;
}

/* ************************footer section**************************** */
.footer {
  width: 100%;
  height: 200px;
  background: #3D393B;
  color: #FBFAF7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .footer-content {
  width: 30%;
  height: 100px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
  padding-left: 15%;
  padding-right: 30%;
  padding-top: 40px;
}

.footer-nav {
  padding-top: 20px;
  padding-left: 220px;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #525252;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.footer-nav a {
  padding-right: 20px;
  padding-left: 20px;
  color: #999999;
  text-decoration: none;
}

.footer-nav span {
  padding-left: 400px;
  color: #999999;
}


@media (max-width: 920px){

}